

.topnav  a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}
.button {
  background-color:black; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#content{
   
   
    height: 100px;
    text-shadow: 2px 2px 5px red;
            color: white;
            text-height: 40px;
}

span {
            color: red;
        }
        
.square {
  height: 500px;
  width: 500px;
  background-color: black;
}

#form-image{
    height:500px;
        padding-top: 50px;
        color: black;
        width:500px;
}


.form{
    margin: 2rem auto;
    border:2px solid white;
    padding:2rem;
}


 button {
            background-color: black;
            
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            float: center;
        }
        
        input {
            font-size: 23px;
            font-weight: 600;
            background-color: white;
           
            text-align: center;
            
        }
        
        #table {
            font-size: 16px;
            color: black;
            
        }


